:root{
  --background-color: white;
  --primary500:#4988C4;
  --primary700:#1C4D8D;
  --primary200:#BDE8F5;
  --primary900:#0F2854;
  --neutral500:#ADB5BD;
  --neutral600:#6C757D;
  --neutral700:#495057;
  --neutral100:#F1F1F1;
  --neutral400:#CED4DA;
  --neutral200:#E9EAEB;
  --neutral300:#DEE2E6;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--primary900);
  color: black;
}

p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}



.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: start;
  gap: 5px;
  /* z-index: 0; */
  text-align: center;
  min-height: 100vh;
  overflow: visible;
  font-size: 1em;
  line-height: 1;
  position: relative;
  color: white;
  text-align: left;
}


.content-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 2/ -2;
  height: 100%;
  grid-row: 1 / 2;
  grid-template-rows: 1fr;
  padding-top: max(13vh, 95px);
  align-items: start;
  overflow: visible;
  position: relative;
}


.content-container > *{
  grid-column: 1 / -1;
}

.big-container{
  box-shadow: 0px 2px 10px 0px #0000001A;
  border-radius: 30px;
  background-color: var(--primary700);
  padding: 20px;
}

button{
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0.5px solid var(--neutral200);
  background-color: var(--primary500);
  color: white;
  font-weight: bold;
}

.small-container{
  box-shadow: 0px 2px 10px 0px #0000001A;
  border-radius: 10px;
  background-color: var(--primary700);
  padding: 5px;
}

label{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

input, select{
  padding: 5px;
  border-radius: 10px;
  border: 0.5px solid var(--neutral200);
  outline: none;
  width: 100%;
  font-size: 1em;
}

input:hover, select:hover{
  border: 0.5px solid var(--neutral700);
}